.top {
  height: 345px;
  background-color: #e6ebef;
}

.heading {
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px #c0c0c0;
  line-height: 200%;
  margin-top: 0;
}

.me {
  border-radius: 25px;
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bio {
  text-align: justify;
  margin: 16px;
}
