body {
  font-family: helvica sans-serif;
  margin: 0;
  background-color: #b9c5db;
  color: #1c1513;
}

.container {
  width: 900px;
  margin: auto;
}

h2 {
  margin: 0;
  clear: both;
}

h2::before {
  content: "~ ~ ~ "
}

h2::after {
  content: " ~ ~ ~"
}

.adj_images {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 50px;
}

ul{
  padding-left: 10px;
}

.style {
  font-weight: bold;
  color: #b33237;
  text-align: center;
  margin: 0;
}

li {
  display: inline-block;
  list-style: none;
}

.sub-container {
  width: 300px;
  float: left;
}

.footer {
  clear: both;
  padding-left: 0;
}

.footer li {
 float: right;
 padding-right: 30px;
 padding-bottom: 5px;
}

.corners {
  border-radius: 25px;
}
.footer ul {
  margin: 0;
}
